/******************************
	RESET
******************************/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End of Reset */
/* Start of Custom Styles */
body {
	font-family: 'Roboto', sans-serif; 
	-webkit-font-smoothing: antialiased;

}

.content {
	padding: 0 15px;
	margin: 0 auto;
	width: 60rem; /* 970px */
}

a {
	text-decoration: none;
}


/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #eaebec;;
}

.top-navigation > .content {
	height: 4.375rem; /* 70px */
}

.top-navigation .logo {
	height: 4.375rem;
}

.top-navigation .links {
	float: right;	
	font-size: 1rem; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-top: 27px;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links li a.active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li a {
	color: #838994;
} 

.top-navigation .links li a:hover {
	color: #333;
}


/* Main Section */

.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction > .content {
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction h1 {
	font-size: 3.125rem;
	margin-top: 17.5rem;
}

.introduction h3 {
	font-size: 1.563rem;
	margin-top: 1.25rem;
}

.big-button {
	width: 9.688rem;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	background-color: #f15a29;
	color: #fff;
	display: block;
	font-size: 1.125rem;
	margin: 1.563rem auto 0;
}

.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}


/* Secondary Section */

.cases {
	background-color: #fff;
	padding-bottom: 5rem;
	overflow: hidden;
}

.cases .content {
	margin-top:  7.875rem;
	color: #1d1e21;
	text-align: center;
}

.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}	

.cases .devices li {
	float: left;
	width: 33.333333%;
}

.cases .devices li h3 {
	font-size: 1.563rem;
	font-weight: 400;
	margin: 2.5rem 0 1.875rem;
}


/* Footer Section */


footer .content {
	text-align: center;
	background-color: #fff;
	padding-bottom: 9.375rem;
}

footer hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}

footer .icons li {
	display: inline-block;
	border: 1px solid #eaebec;
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	margin: 1.25rem 5px;
	padding: 0.625rem 0;
}

footer .fa-twitter {
	color: #55acee;
}

footer .fa-facebook {
	color: #4c66a4
}

footer .fa-instagram {
	color: #3f729b;
}

footer .copy {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
}











